{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block main %}
    <div class="text-center">
        <h3 class="h3 mb-3 fw-normal">Registration</h3>
        <form action="/register" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password">
            </div>
            <div class="pb-3">
                <a>Already have an account? </a>
                <a class="link-offset-2" href="/login">Sign in</a>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
