{% extends "layout.html" %}

{% block title %}
    Sale
{% endblock %}

{% block main %}
    <div class="text-center">
        <h3 class="h3 mb-3 fw-normal">Sell</h3>
        <form action="/sell" method="post">
            <div class="mb-3">
            <!-- Dropdown -->
                <div class="mb-3">
                    <select class="form-select mx-auto w-auto" name="symbol">
                        <option {% if not selected_symbol %}selected disabled{% endif %}>{{ selected_symbol or "Symbol" }}</option>
                        {% for stock in dashboard %}
                            <option value="{{ stock.symbol }}" {% if stock.symbol == selected_symbol %}selected{% endif %}>{{ stock.symbol }}</option>
                        {% endfor %}
                    </select>
                </div>
            <!-- Shares -->
                <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" {% if selected_symbol %}autofocus{% endif %}>
            </div>
            <button class="btn btn-primary action" type="submit">Sell</button>
        </form>
    </div>
{% endblock %}
